{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Esse trecho vai permitir django_browser_reload monitorar essa pagina --> 
     {% django_browser_reload_script %}
      <!--Força o navegador a buscar a versao nova para ele nao usar o cache. 
                                    Remova quando tiver em produção-->
    {% block estilos %}
        <link rel="stylesheet" href="{% static 'cards/css/style.css' %}?v={% now  'U'  %}">
    {% endblock estilos %}
    
    <title>
        {% block titulo  %} Home {% endblock  %}
    </title>
</head>

<body>
    {% block conteudo %} {% endblock conteudo %}
    
</body>

</html>